body {
  background-color: #22362a;
  color: white;
}
.age, .wellbeing {
  text-align: center;
  padding: 0 0.5em;
}
.wellbeing--positive {
  background-color: green;
}
.wellbeing--negative {
  background-color: red;
}
